/node_modules
/vendor
/.env
/.env.backup
/public/hot
/public/storage
/storage/*.key
/storage/app
/storage/logs
/storage/framework
/.phpunit.result.cache
/database/database.sqlite
.DS_Store
Thumbs.db
*.log
/bootstrap/cache
/venv
